.card-widget.card-clustrmaps
  .card-content
    .item-headline
        i.fas.fa-chart-line
        span= _p('aside.card_clustrmaps.headline')
    .mapinfo
      <script type="text/javascript" id="clstr_globe" src="//cdn.clustrmaps.com/globe.js?d=A2nSK9fSaTFKQ3S2Vsy0diEKGAPoROn5QJUqb4Zz-Gc"></script>

